.container{
	display: inline-block;
    text-align: end;
    vertical-align: top;
    width: 40%;
}

body {
    background-color: teal; 
    border: 5px solid grey;
}

input{
	margin: 4px;
}
#button {
	margin-right: 90px;
}
