<html>

<head>

  <title>Success</title>

</head>

<body>

	{% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

            <p>{{message}}</p>

            {% endfor %}

        {% endif %}

        {% endwith %}

  <table>

	<th>Email Addresses Entered</th>

	

	{% for email in all_emails %}

		<tr>

			<td>{{ email['email_address'] }}</td>

			<td>{{ email['created_at'] }}</td>

		</tr>

	{% endfor %}

  </table>

</body>

</html>