<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login Confirmation</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Logged In</h1>
    Email:<h3>{{ regemail }}</h3>
    First Name:<h3>{{session['first_name']}}</h3 >
    Last Name:<h3>{{session['last_name']}}</h3>
    Password:<h3>{{session['password']}}</h3>
    <br>
    <p>Enjoy the site and don't hesitate to contact us with yourfeedback.!p>
    <p>
</body>
</html>
